/*body*/
body{
    
    background-image: linear-gradient(to top, #17202A  0%, #17202A  100%);
    height:100vh;
}
.title{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:10px;
    color:#D4AC0D;
}
.imgTitle{
    width:40px;
    margin-left:15px;
}

/*btn start*/
.btnStart{
    margin-top:50px;
    display:flex;
    justify-content:center;
}
#start{
    width:300px;
}

/*first part of the App*/
form{
    margin-top:50px;
    padding-bottom:30px;
    
}
#firstPatApp{
    display:none;
}
.tomato1, .tomato2{
    display:flex;
    justify-content:center;
   
}
.tomato1-img,.tomato2-img, .tomao2-img2{
    width:50px;
    border-radius:20rem;
}
.tomao2-img2{
    margin-left:10px;
}
.h2-1, .h2-2, .h2-3, .h2-4{
    font-size:20px;
    color:#D4AC0D;
}


/*second-part-App*/
.second-part-App{
    margin-top:40px;

}
.first-input-and-button{
    display:flex;
    justify-content: center;
}
#input-1{
  padding-left:5px;
  width:220px;
  margin-right:5px;
    
}

.father-firstt-result{
    display:flex;
    justify-content:center;
}
.firstt-esult, .lastResult{
    margin-top:20px;
    background:#D4AC0D;
    height:20vh;
    width:300px;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom:4px solid #7D6608;
    color:#eee;
    text-shadow: 1px 2px 4px  rgba(0, 0, 0, 0.712);

}

/*Last-part-App*/
.Last-part-App{
    margin-top:50px;
    display:none;
}
.last-title, .last-input-and-button{
    display:flex;
    justify-content: center;
}
#last-input{
    padding-left:5px;
    width:220px;
    margin-right:5px;
}

/*date*/
.date{
    margin-top:50px;
    display:flex;
    justify-content: center;
    flex-direction:column;
    place-items: center;
    display:none;
   

}

.lastResult{

    width:250px;
    color:#eee;

}






/*animations*/
.imgTitle, .tomato1-img, .tomato2-img, .tomao2-img2{
    animation-name:TitleImg;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    animation-direction:alternate;
    
}
.tomato2-img{
    animation-duration: 3s;
    animation-timing-function:ease-in-out ;
}
.tomao2-img2{
    animation-duration: 3.5s;
    animation-timing-function:ease-in ;

}
@keyframes TitleImg{
    0%{
        transform:rotate(10deg)
    }
    50%{
        transform:rotate(-10deg);
    }
}




/*first result animation*/
.firstResult, .lastResult{

    animation-name:firstResult;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;

}
@keyframes firstResult{
    0%{
        transform:scale(1.07);
    }
}


@media screen and (min-width:1026px){

    ::-webkit-scrollbar{
        width:8px;
        background:#17202A;
    }
    ::-webkit-scrollbar-thumb{
        border-radius:20rem;
        background:#D4AC0D;
    }
}